*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century gothic;
}

.container{
    width: 1500px;
    margin: 0 auto;
}

.container.debug{
    background-color: grey;
    height: 1800px;
}

.box{
    position: relative;
    width: calc(100%/ 3 - 10px);
    margin: 5px;
    float: left;
}

.box.debug{
    background-color: yellow;
    height: 900px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both
}

.origin{
    width: 100%;
    height: 800px;
    object-fit: cover;
    background-position: center;
}

.img-hover{
    display: none;
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.box:hover .origin{
    display: none;

}
.box:hover .img-hover{
    display: inline-block;
}

.info{
    position: absolute;
    margin-left:5px;
    
}

.marca{
    font-size: 14px;
}

h3{
    text-transform: uppercase;
    
}

.prezzo{
    color: red;
    font-weight: 800;
    font-size: 14px;
}

.sconto{
    text-decoration: line-through black;
    color: black;
}

.heart{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    top: 15px;
    right: 0;
    
}

.cuore{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.sale{
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: red;
    color: white;
    font-weight: 800;
    text-align: center;
    line-height: 25px;
    bottom: 120px;

}

.sos{
    position: absolute;
    width: 90px;
    height: 25px;
    background-color: green;
    color: white;
    font-weight: 700;
    line-height: 25px;
    bottom: 120px;
    left: 55px;
    font-size: 13px;
    text-align: center;
}